table.dataTable {
    border-collapse: separate; 
    border-spacing: 0 10px; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background: #fff;
}

table.dataTable thead {
    background: #3498db;
    color: white;
    font-weight: bold;
}

th, td {
    padding: 12px 15px;
    vertical-align: middle;
}


table.dataTable tbody tr {
    background: #fff; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

table.dataTable tbody tr:nth-child(odd) {
    background: #f9f9f9;
}

table.dataTable tbody tr:hover {
    background: #ecf6fd;
}

table.dataTable tbody tr:hover td {
    cursor: pointer;
}

.dt-buttons {
    margin-bottom: 15px;
}

.dt-button {
    background: #3498db !important;
    border: none !important;
    border-radius: 6px !important;
    color: white !important;
    font-size: 30px;
    padding: 10px 15px !important;
    margin-right: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.dt-button:hover {
    background: #217dbb !important;
}

.dataTables_filter input {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px 10px;
}

.btn-approve, .btn-reject, .btn-view {
    border: none;
    padding: 6px 10px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.btn-approve { background-color: #27ae60; }
.btn-approve:hover { background-color: #2ecc71; }

.btn-reject { background-color: #e74c3c; }
.btn-reject:hover { background-color: #ff4d4d; }

.btn-view { background-color: #3498db; }
.btn-view:hover { background-color: #5dade2; }
