.exportBtn {
  text-align: right;
  margin-bottom: 10px;
}
.exportBtn button {
  background: grey;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}
.exportBtn button:hover {
  background: #4361ee;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}
th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}
th {
  background-color: #e9ecef;
}
th{
    background-color: #4361ee;
    color: white;
}
